<?xml version="1.0"?>

<project software="Avalon" 
      name="Avalon Documentation" 
      href="http://jakarta.apache.org/avalon/">
      <title>Apache Avalon</title>
      <body>
  <menu name="About">
    <item name="Overview" href="index.html"/>
    <item name="Features" href="features.html"/>
    <item name="Getting Started" href="getting-started.html" />
    <item name="Download Binaries" href="http://jakarta.apache.org/site/binindex.html" />
    <item name="Download Source" href="http://jakarta.apache.org/site/sourceindex.html" />
    <item name="Case Studies" href="case-studies.html" />
    <item name="License" href="license.html"/>   
    <item name="Contributors" href="authors/index.html"/>
  </menu>

  <menu name="Sub-Projects">
    <item name="Framework" href="framework/index.html"/>
    <item name="Excalibur" href="@EXCALIBUR_BASE@/index.html"/>
    <item name="Phoenix" href="@PHOENIX_BASE@/index.html"/>
    <item name="Cornerstone" href="@CORNERSTONE_BASE@/index.html"/>
    <item name="Applications" href="@APPS_BASE@/index.html"/>
    <item name="LogKit" href="@LOGKIT_BASE@/index.html"/>
  </menu>

  <menu name="Guides">
    <item name="Avalon for Beginners" href="@EXCALIBUR_BASE@/tweety/avalon-for-beginners.html" />
    <item name="Developing with Avalon" href="developing/index.html" />
    <item name="Developing with Phoenix" href="@PHOENIX_BASE@/index.html" />
    <item name="Developing with Logkit" href="@LOGKIT_BASE@/whitepaper.html" />
  </menu>

  <menu name="For Developers">
    <item name="Coding standards" href="code-standards.html" />
    <item name="CVS" href="http://cvs.apache.org/viewcvs/jakarta-avalon/" />
    <item name="Mailing Lists" href="mail.html"/>
  </menu>
  </body>

</project>


