<?xml version="1.0"?>

<project software="Framework" 
      name="Framework Documentation" 
      href="http://jakarta.apache.org/avalon/framework/">
      <title>Framework Documentation</title>
      <body>

  <menu name="Essentials">
    <item name="Overview" href="index.html"/>
    <item name="Features" href="features.html"/>
    <item name="Getting started" href="getting-started.html"/>
    <item name="Download" href="http://jakarta.apache.org/builds/jakarta-avalon/release/framework"/>
  </menu>

  <menu name="Guide">
    <item name="OOP best practices" href="guide-oop-best-practices.html"/>
    <item name="What are patterns?" href="guide-patterns-what-are.html"/>
    <item name="Patterns in Avalon" href="guide-patterns-in-avalon.html"/>
        <item type="hidden" href="guide-patterns-soii.html"/>
        <item type="hidden" href="guide-patterns-soc.html"/>
        <item type="hidden" href="guide-patterns-ioc.html"/>
        <item type="hidden" href="guide-patterns-ioc-security.html"/>
    <item name="What is COP?" href="guide-cop-what-is.html"/>
    <item name="COP in Avalon" href="guide-cop-in-avalon.html"/>
    <item name="Where to go from here" href="guide-where-to-go-from-here.html"/>
  </menu>

  <menu name="Reference">
    <item name="API Docs" href="@AVALON_BASE@/api/index.html"/>
    <item name="Diagrams Docs" href="diagrams/"/>
    <item name="The Lifecycle" href="reference-the-lifecycle.html"/>
    <item name="Containers" href="reference-containers.html"/>
  </menu>

  <menu name="For Developers">
    <item name="Changes" href="for-developers-changes.html"/>
    <item name="Coding standards" href="@AVALON_BASE@/code-standards.html"/>
    <item name="Project Structure" href="for-developers-project-structure.html"/>
    <item name="CVS" href="http://jakarta.apache.org/site/cvsindex.html"/>
    <item name="Mailing Lists" href="http://jakarta.apache.org/site/mail.html"/>
  </menu>
  </body>
</project>


