<?xml version="1.0" encoding="UTF-8"?>
<project
      name="Avalon Documentation"
      href="http://jakarta.apache.org/avalon/authors/">
      <title>Avalon Authors</title>
      <body>


  <menu name="Authors">
    <item name="Contributors" href="index.html"/>
    <item name="Avalon Documentation Team" href="avalon-doc.html"/>
    <item name="Mr. Peter Donald" href="peter.html"/>
    <item name="Mr. Federico Barbieri" href="fede.html"/>
    <item name="Mr. Pier Fumagalli" href="pier.html"/>
    <item name="Mr. Paul Hammant" href="hammant.html"/>
    <item name="Mr. Roberto Lo Giacco" href="roberto.html"/>
    <item name="Mr. Berin Loritsch" href="bloritsch.html"/>
    <item name="Dott. Stefano Mazzocchi" href="stefano.html"/>
    <item name="Mr. Eung-ju Park" href="eungju.html"/>
    <item name="Mr. Leo Simons" href="lsimons.html"/>
    <item name="Mr. Leif Mortenson" href="leif.html"/>
    <item name="Mr. Carsten Ziegeler" href="cziegeler.html"/>
    <item name="Mr. Jeff Turner" href="jturner.html"/>
    <item name="Mr. Peter Royal" href="proyal.html"/>
    <item name="Mr. Marcus Crafter" href="crafterm.html"/>
    <item name="Nicola Ken Barozzi" href="nicolaken.html"/>
  </menu>
  </body>
</project>
